@import "tailwindcss";
@import "./fonts.css";

@theme {
  --color-primary: oklch(0.5194 0.2071 28.61);
  --color-background: oklch(100% 0 0);
  --color-text: oklch(0% 0 0);
  --height-screen-dvh: 100svh;
  --font-header: "Last Christmas", "sans-serif";
  --font-subheader: "Amore Christmas", "sans-serif";
}

@view-transition {
  navigation: auto;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-background);
}





/* hide radios */
.tabs input {
  display: none;
}

/* clickable text */
.tabs label {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s;
}

#tab-a:checked + label,
#tab-b:checked + label {
  opacity: 1;
}

/* hide all content by default */
.content {
  display: none;
}

/* show based on selection */
#tab-a:checked ~ .a {
  display: block;
}

#tab-b:checked ~ .b {
  display: block;
}




@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate {
  opacity: 0;
  animation: fadeDown 0.6s ease forwards;
}

@view-transition {
  navigation: auto;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-down {
  opacity: 0;
  animation: fadeDown 0.6s ease forwards;
}

::-webkit-scrollbar {
  display: none;
}